<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap сайт</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
        
        body{
            background-color: #f2f2f2;
            font-family: "Raleway";
            font-weight: 300;
            font-size: 16px;
            color:#555;
        }
        
        a{
            color: #f85c37;
            text-decoration: none;
        }
        
        .centered{
            text-align: center;
        }
        
        a:hover a:focus{
            color: #7b7b7b;
            text-decoration: none;
            outline: 0  ;
        }
        
        hr{
            display: block;
            height: 1px;
            border: 0px;
            border-top: 1px solid #000;
            margin: 1em 0;
            padding: 0;
            margin: 0;
            text-align: center;
        }
        
        .header {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: relative;
          background-color: gold;
          padding-top: 15px;
          padding-bottom: 15px;
          border-bottom: 5px solid #fffb00;
        }
        
        .header-logo {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          font-weight: bold;
        }
        
        .header-menu {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 380px;
          margin: 0;
          padding: 4px;
          text-align: center;
        }
        
        .navbar {
          font-weight: 800;
          font-size: 14px;
          padding-top: 15px;
          padding-bottom: 15px;
        }
        
        .navbar-inverse
        {
          background: #2d2d2d;
        }
        
        .header-menu .header-menu-item {
            display: inline;
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
        }
        

    </style>
</head>
<body>
<header class="header">
    <div class="header-logo">X-Communicate</div>
    <ul class="header-menu">
        <li class="header-menu-item"><a href="~/Home/Index">Profile</a></li>
        <li class="header-menu-item"><a href="~/Home/Index">Sing Out</a></li>
        <li class="header-menu-item"><a href="~/Home/Index">Main Page</a></li>
        <li class="header-menu-item"><a href="~/Home/Privacy">Communities</a></li>
    </ul>
</header>
<div class="container body-content">
    @RenderBody()    
</div>
</body>
</html>