@font-face {
    font-family: "Open-Sars";
    font-weight: 400;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open-Sars";
    font-weight: 700;
    src: url(../assets/fonts/OpenSans-Bold.ttf);
}

* {
    font-family: "Open-Sars";
    box-sizing: border-box;
}

.content {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 3px 1px #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

h3 {
    font-size: 16px;
    padding-left: 5px;
}

.aside {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 255, 0);
    border-radius: 5px;
}

.user-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 241, 241);
}

.user-photo-container {
    position: relative;
}

.user-photo-edit-btn {
    display: flex;
    padding-left: 2px;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 10px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

    .user-photo-edit-btn:hover {
        cursor: pointer;
        background: #ffffff;
        opacity: 0.8;
    }

    .user-photo-edit-btn:active {
        background: #ffffff;
        opacity: 0.9;
    }

.aside-item .user-name {
    margin: 15px 0;
    font-size: 32px;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

    .aside-item .user-name:hover {
        transition: 0.5s;
        transform: translateX(0);
    }

.user-image {
    margin-top: 15px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.aside-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .aside-item p {
        font-size: 13px;
        padding: 0 10px;
        color: rgb(70, 70, 70);
        font-weight: 700;
        text-align: justify;
        cursor: pointer;
        transition: 0.5s;
    }

        .aside-item p:hover {
            transition: 0.5s;
            transform: translateX(10px);
        }

.aside-item {
    border-radius: 5px;
    width: 100%;
}

.main-content {
    width: 50%;
    font-size: 16px;
}

.content-item {
    padding: 20px;
}

.content-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    transition: .2s;
}

    .add-btn:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .add-btn:active {
        color: #fff;
        background: black;
        transition: .2s;
    }

.news-item-input-field {
    resize: none;
    width: 100%;
    height: 140px;
    padding: 5px;
    border-radius: 10px;
}

.news-container {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
}

.news-item {
    width: 100%;
    box-shadow: 1px 1px 0 0 #ccc;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
}

.news-title {
    font-size: 12px;
    color: #404040;
}

.colleagues {
    padding: 0 20px;
}

.colleague-info-fields {
    display: flex;
    flex-direction: column;
}

    .colleague-info-fields label {
        font-size: 14px;
    }

    .colleague-info-fields input {
        margin-bottom: 10px;
        padding: 5px;
    }

.colleague-item {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.colleague-photo {
    height: 65px;
    border-radius: 50%;
}

.colleague-info {
    width: 70%;
}

.colleagues-container {
    width: 30%;
}

#main {
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.post-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    height: 360px;
    border: 1px solid #ccc;
    margin: 20px 0;
    border-radius: 10px;
    transition: 0.3s;
}

    .post-item:hover {
        cursor: pointer;
        box-shadow: 1px 2px 0 0 #e3e3e3;
        transition: 0.3s;
    }

.post-item-header {
    background-color: gold;
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ccc;
}

.post-item-text {
    text-align: center;
    font-size: 14px;
}

.post-item-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #ccc;
    width: 100%;
    padding: 10px 0;
}

.post-item-button {
    border: none;
    background: none;
}

    .post-item-button:hover {
        cursor: pointer;
    }
